<a href="https://colab.research.google.com/github/Benvi0h/Machine_Learning_projects_Vikas/blob/main/Python_Project_Headline_Detection_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HEADLINE EXTRACTION FROM ARTICLES

TEAM:

VIKAS BENHUR CHITLA 

LAKSHMINARASIMHAN P S

# LIBRARIES

In [ ]:
import pytesseract as pp
import PIL as Image
import pandas as pd 
import numpy as np
import cv2 as cv
import matplotlib.pyplot as plt

image = cv.imread('newspaper2.jpg')

# GRAYSCALE

In [ ]:
def grayscale(img):
    return cv.cvtColor(img,cv.COLOR_BGR2GRAY)

In [ ]:
grayscaled_image = grayscale(image)
# cv.imshow("",grayscaled_image)
# cv.waitKey(0)

# PRE-PROCESSING

In [ ]:
treshold , im_bw = cv.threshold(grayscaled_image , 190,245,cv.THRESH_BINARY)
kernel = np.ones((3,1),np.uint8)
im_bw = cv.erode(im_bw , kernel ,iterations = 1)

# cv.imshow("",im_bw)
# cv.waitKey(0)

# NOISE REMOVAL

In [ ]:
def noise_rem(image_nrm):
    import numpy as np
    kernel = np.ones((1,1),np.uint8)
    image_nrm = cv.GaussianBlur (image_nrm, (1,1), 0)
    image_nrm = cv.dilate(image_nrm , kernel,iterations = 1)
#     kernel = np.ones((1,1),np.uint8)
#     image_nrm = cv.erode(image_nrm , kernel,iterations = 1)
#     image_nrm = cv.morphologyEx(image_nrm , cv.MORPH_CLOSE , kernel)
#     image_nrm = cv.medianBlur(image_nrm,3)
    return (image_nrm)

In [ ]:
de_noised_image = noise_rem(im_bw)
# cv.imshow("",de_noised_image)
# cv.waitKey(0)

# CONTOURS & BOUNDING BOXES

In [ ]:
cnts = cv.findContours(de_noised_image, cv.RETR_EXTERNAL, cv.CHAIN_APPROX_SIMPLE)
cnts=cnts[0] if len(cnts)==2 else cnts[1]
cnts= sorted(cnts, key=lambda x: cv.boundingRect(x)[0])

for c in cnts:
    x,y,w,h = cv.boundingRect(c)
    if h>50 and w>100:
        cv.rectangle(image, (x,y),(x+w,y+h), (36,255,12),2)
#     cv.imwrite(r'D:\Phython3.9\Scripts\Machine_Learning\box.png',image) 
cv.imshow("",image)
cv.waitKey(0)

-1

In [ ]:
cv.imshow("",image)
cv.waitKey(0)

-1

# UPSCALING

In [ ]:
up_image = cv.pyrUp(image)

img_text = pp.image_to_data(up_image,output_type = 'data.frame')
img_text = img_text.dropna()
img_text = img_text[img_text.text!='']
img_text

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
4,5,1,1,1,1,1,99,192,188,122,11.149223,The
5,5,1,1,1,1,2,255,205,206,114,95.633835,Daily
6,5,1,1,1,1,3,475,203,236,162,35.886765,Telegr
7,5,1,1,1,1,4,712,184,202,185,45.014359,ap)
9,5,1,1,1,2,1,33,343,109,49,95.156784,Sage
10,5,1,1,1,2,2,153,342,136,50,95.156784,urged
12,5,1,1,1,3,1,34,400,74,38,96.663826,PM
13,5,1,1,1,3,2,122,404,45,34,96.663826,to
14,5,1,1,1,3,3,177,398,133,40,96.566589,order
16,5,1,1,1,4,1,32,468,24,27,58.627007,a
17,5,1,1,1,4,2,70,455,184,40,58.627007,harsher
19,5,1,1,1,5,1,34,512,225,40,96.118118,lockdown
23,5,1,2,1,1,1,59,1256,91,27,96.787933,When
24,5,1,2,1,1,2,161,1262,70,28,96.437950,your
25,5,1,2,1,1,3,241,1256,158,27,96.167374,business
26,5,1,2,1,1,4,395,1262,24,21,96.167374,is
28,5,1,2,1,2,1,59,1302,79,27,93.265755,open
29,5,1,2,1,2,2,148,1297,31,25,94.677841,to
30,5,1,2,1,2,3,189,1302,98,53,9.978630,PERO
31,5,1,2,1,2,4,309,1296,58,57,0.000000,ANY
35,5,1,3,1,1,1,72,1345,128,10,90.976372,opportunities
36,5,1,3,1,1,2,170,1334,34,28,96.492165,open
40,5,1,4,1,1,1,0,0,948,1556,95.000000,

In [ ]:
list_of_heights = img_text.height
img_dict = dict(zip(img_text.text,img_text.height))
img_dict

req_dict = []
for keys in img_dict:
    if(img_dict[keys] >= 25):
        req_dict.append(keys)
    else:
        continue
print(len(req_dict))
print (req_dict)

19
['The', 'Daily', 'Telegr', 'ap)', 'Sage', 'urged', 'PM', 'to', 'order', 'a', 'harsher', 'lockdown', 'When', 'your', 'business', 'open', 'PERO', 'ANY', ' ']

In [ ]:
strr = pp.image_to_string(image)
print(strr)

RE.

The Daily Telearaph
Sage urged Ph y
PM to order
aharsher
lockdown

a

little room for doubt over whe

When your business is
open to opportunity...